<div class="filter">
  <label>Filter by Category:</label>
  <select [(ngModel)]="selectedCategory">
    <option>All</option>
    <option>Men</option>
    <option>Women</option>
    <option>Unisex</option>
  </select>
</div>

<div class="products">

  <div class="card" *ngFor="let item of filteredProducts">

    <img [src]="item.image" alt="product image">

    <h3>{{ item.name }}</h3>

    <p>Category: {{ item.category }}</p>
    <p class="price">Price: ₱{{ item.price }}</p>

    <p *ngIf="item.available; else outStock" class="available">
      Available
    </p>

    <ng-template #outStock>
      <p class="out">Out of Stock</p>
    </ng-template>

    <button
      (click)="addToCart(item)"
      [disabled]="!item.available">
      Add to Cart
    </button>

  </div>

</div>
